%h2 Cards

%p= button 'Add a card', new_card_path

- unless @cards.empty?
  = will_paginate @cards
  %table#cards.data
    %thead
      %tr
        %th
        %th.name= link_to 'Name', cards_path(:sort => 'Name', :page => params[:page])
        %th.mtg_set Set
        %th.mana_cost Cost
        %th.conv_mana_cost= link_to 'Conv. Cost', cards_path(:sort => 'Conv. Cost', :page => params[:page])
        %th.rarity= link_to 'Rarity', cards_path(:sort => 'Rarity', :page => params[:page])
        %th.type= link_to 'Type', cards_path(:sort => 'Type', :page => params[:page])
        %th.rules_text Rules Text
        %th.number.power= link_to 'Pow.', cards_path(:sort => 'Pow.', :page => params[:page])
        %th.toughness= link_to 'Tgh.', cards_path(:sort => 'Tgh.', :page => params[:page])
        %th
    %tbody
      - @cards.each do |c|
        = content_tag_for(:tr, c, :class => [card_css_classes_string(c), cycle(:odd, :even)].join(' ')) do
          %td.actions
            %ul
              - unless @current_deck.cards.include?(c)
                %li
                  = link_to adjust_in_deck_card_path(c, :number => 1), :class => 'add' do
                    = image_tag 'icons/add.png', :alt => 'add to deck', :class => 'inline', :title => 'Add to deck'
          %td.name= link_to c.name, card_path(c)
          %td.mtg_set= c.mtg_set.code
          %td.mana_cost= c.mana_cost
          %td.conv_mana_cost= c.converted_mana_cost
          %td.rarity= c.rarity.to_s(:short)
          %td.type= c.type_line
          %td.rules_text= raw(c.rules_text_html)
          %td.number.power= c.power
          %td.toughness= c.toughness
          %td.actions
            %ul
              %li
                = link_to edit_card_path(c) do
                  = image_tag 'icons/pencil.png', :alt => 'edit card', :class => 'inline', :title => 'Edit card'
            
          
  = will_paginate @cards
- else
  %h3 There are no cards!